<div class="relative flex flex-col items-center p-4 font-light gap-y-4">
  <h1 class="px-8 py-1 text-4xl text-white bg-teal-600 rounded-lg w-max">
    {{ olympic?.country }}
  </h1>
  <div class="grid grid-cols-3 gap-x-8">
    <app-info-box title="Number of entries" [value]="entries"></app-info-box>
    <app-info-box title="Total number medals" [value]="medals"></app-info-box>
    <app-info-box
      title="Total number of athletes"
      [value]="athletes"
    ></app-info-box>
  </div>

  <canvas
    baseChart
    width="400"
    height="400"
    [type]="'line'"
    [datasets]="lineChartDatasets"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
  >
  </canvas>
  <a routerLink="" class="px-4 py-1 text-white bg-teal-600 rounded-lg mr-96">Go back</a>
</div>
